{
  "endOfLine": "auto",
  "printWidth": 100,
  "singleQuote": true,
  "objectWrap": "preserve",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
